body{
    margin:0;
    overflow:hidden;
    background:black;
    color:white;
    font-family:Arial;
}

canvas{
    position:fixed;
    top:0;
    left:0;
}

#menu,#gameOver{
    position:fixed;
    width:100%;
    height:100%;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:10;
}

#gameOver{ display:none; }

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

#startBtn{ background:#00ff88; }

.ui{
    position:fixed;
    top:10px;
    left:10px;
    background:rgba(0,0,0,0.6);
    padding:10px;
    border-radius:10px;
}
