body{
    margin:0;
    overflow:hidden;
    background:#000;
    font-family:Arial;
    color:white;
}

canvas{
    position:fixed;
    top:0;
    left:0;
}

#menu, #gameOver{
    position:fixed;
    width:100%;
    height:100%;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:10;
}

#gameOver{ display:none; }

button{
    padding:10px 20px;
    margin:8px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

#startBtn{ background:#00ff88; }

.skins{ display:flex; gap:10px; flex-wrap:wrap; }

.skinBtn:nth-child(1){ background:#00ff88; }
.skinBtn:nth-child(2){ background:#00aaff; }
.skinBtn:nth-child(3){ background:gold; color:black; }
.skinBtn:nth-child(4){
    background:linear-gradient(45deg,red,orange,yellow,green,blue,purple);
    color:black;
}

.ui{
    position:fixed;
    top:10px;
    left:10px;
    background:rgba(0,0,0,0.6);
    padding:10px;
    border-radius:10px;
}

.leaderboard{
    position:fixed;
    top:10px;
    right:10px;
    background:rgba(0,0,0,0.6);
    padding:10px;
    border-radius:10px;
    width:150px;
}

h1{
    font-size:50px;
    text-shadow:0 0 20px #00ff88;
}
