body{
margin:0;
overflow:hidden;
background:black;
font-family:Arial;
color:white;
}

#menu{
position:absolute;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
z-index:10;
}

.ui{
position:fixed;
top:10px;
left:10px;
background:rgba(0,0,0,0.6);
padding:10px;
border-radius:10px;
}

#boostBtn{
margin-top:5px;
padding:8px 15px;
background:#00ff88;
border:none;
border-radius:8px;
}

#joystick{
position:fixed;
bottom:40px;
left:40px;
width:100px;
height:100px;
background:rgba(255,255,255,0.1);
border-radius:50%;
touch-action:none;
}

#stick{
width:60px;
height:60px;
background:#00ff88;
border-radius:50%;
position:absolute;
top:20px;
left:20px;
}
